/* It contains the CSS properties of all sections */

/* home */
.home {
  background: linear-gradient(
    113.52deg,
    #ff4320 5.76%,
    #cc446d 25.04%,
    #9b45b8 45.19%,
    #4d78d3 68.51%,
    #0ae178 88.3%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

.home-counter {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 80px 0 0 0;
}

/* home mobile view */

@media screen and (max-width: 640px) {
  .home {
    height: 100vh;
    background-size: contain;
    background-position: center;
  }

  .home-counter {
    width: 100vw;
  }
}

/* mission */

.mission {
  background-color: transparent;
  background-image: url("../../assets/banner/mission.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-title {
  font-size: 40px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  margin: 20px 20px 20px 0;
}

.mission-text {
  color: #222222;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  max-width: 70vw;
  margin: 100px auto;
  text-align: start;
}

/* mission mobile */

@media screen and (max-width: 640px) {
  .mission {
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .mission-title {
    font-size: 26px;
    text-align: center;
  }

  .mission-text {
    font-size: 16px;
    text-align: center;
  }

  .mission img {
    height: 400px;
    width: 300px;
  }
}

/* event */

.event {
  background: linear-gradient(
    113.52deg,
    #ff4320 5.76%,
    #cc446d 25.04%,
    #9b45b8 45.19%,
    #4d78d3 68.51%,
    #0ae178 88.3%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-text {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin: 80px 0 20px 0;
}

.place {
  margin: 0;
}

/* event mobile view */

@media screen and (max-width: 640px) {
  .event-text {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    font-size: 26px;
    margin: 60px 0 20px 0;
  }

  .place {
    margin: 0;
  }
}

/* volunteering */
.volunteering {
  background-color: transparent;
  background-image: url("../../assets/banner/volunteer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #222222;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  height: 100vh;
}

.volunteer-header {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 40px 0 0 0;
  text-align: center;
}

.volunteer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  max-width: 800px;
  margin: 40px;
  text-align: center;
}

.v-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.v-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* volunteer mobile view */

@media screen and (max-width: 640px) {
  .volunteering {
    padding: 5%;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  .v-top {
    display: none;
  }

  .anime-user-wrapper {
    display: none;
  }

  .volunteer-header {
    font-size: 26px;
  }

  .volunteer-text {
    font-size: 16px;
    margin: 40px 0;
  }
}

/* FAQs */

.faqs {
  background: linear-gradient(338.52deg, #9b45b8 0%, #4d78d3 100%);
  padding: 60px 40px;
}

.faq-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0px 0px 40px 100px;
}

.faq-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* faqs mobile view */
@media screen and (max-width: 640px) {
  .faq-title {
    margin: 20px;
  }
}

/* poap */

.poap-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url("../../assets/banner/poap.png");
  background-size: cover;
  background-position: center;
  padding: 80px;
}

.poap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  text-align: end;
}

.poap-header {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  background: linear-gradient(
    113.52deg,
    #ff4320 5.76%,
    #cc446d 25.04%,
    #9b45b8 45.19%,
    #4d78d3 68.51%,
    #0ae178 88.3%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.poap-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #444;
  margin: 40px 20px;
}

/* poap mobile view */

@media screen and (max-width: 640px) {
  .poap-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .poap-wrapper img {
    height: 400px;
    width: 300px;
  }

  .poap {
    background-position: inherit;
    height: 100vh;
    align-items: center;
  }

  .poap-header {
    font-size: 26px;
    text-align: center;
  }

  .poap-text {
    font-size: 16px;
    text-align: center;
  }
}

/* footer */
.footer {
  background-color: #f5f5f5;
  padding: 40px;
  color: #222222;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-text {
  color: #222222;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.footer-links li {
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
}

.copyright {
  text-align: center;
}

/* artists */

.artists {
  background-color: transparent;
  background-image: url("../../assets/banner/artists.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.artists-title {
  font-size: 36px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  margin: 20px 20px 20px 0;
}

.artists-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100vw;
  margin: 5% 0;
}

.artists-text {
  color: #222222;
  font-size: 26px;
  max-width: 50vw;
  font-weight: 500;
}

/* artistis mobile */

@media screen and (max-width: 640px) {
  .artists {
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .artists-title {
    font-size: 26px;
    text-align: center;
  }

  .artists-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 5% 0;
  }

  .artists-text {
    font-size: 16px;
    text-align: center;
  }
}
